:root{
    --text-color: #2e2e2e;
    --separation-color: #dddddd;
    --background-navigation-color: #f8f8f8;
    --background-navigation-color-dark: #242424; /*#f8f8f8*/


    --report-new-color:var(--separation-color);
    --report-active-color:#ded13b;
    --report-closed-color:rgb(151, 204, 71);
    --report-no-color:#de3b3b;
    --report-status-width: 0.5em; 
    --report-padding: 0.5em;    
}
  
html, body, rp-shell {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-family: sans-serif;
  color: var(--text-color);
  overflow: hidden;
  margin: 0;
}

h1{
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.Post__description{
  display: grid;
  gap:1em;
  padding: 1em;
}

.postVeil {
    display: grid;
    align-items: center;
    padding: var(--report-padding);
    border:solid 1px var(--separation-color);
    cursor: pointer;
}

.Post__title{
  font-size:2em;
}


/* .ReportUser{
  display: flex;
  justify-content: center;
} */

.User__form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 80%;
}

.User__formContent{
  margin-top: 20px;
  width: 100%;
  height: 30px;
  max-height: 100%;
}
/* nav */
.Nav__svg {
    max-width: 3em;
    max-height: 3em;
}
/* skills */
.Skill__bar{
  height: 6px;
  background-color: #2e2e2e;
}

.Skill__progress{
  animation: apparition 2s;
  background-color: rgb(53, 140, 211);
  height: 6px;
  position: absolute;
}

@keyframes apparition {
  0% {
    width: 0;
  background: #2e2e2e;  
  }
  100%{
    background-color: rgb(53, 140, 211);
  }
}
/* CV */
.Cv__animImage{
  max-height: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: -1;
}
.Cv__image{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: -1;
  bottom: 0;
  animation: coucou 5s;
}
.Cv__image-me{
  width: 50%;
}

@keyframes coucou {
  0%{
    bottom: -50%;
    transition: 1s;
  }
  100%{
    bottom: 0;
    transition: 1s;
  }
}